<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IMS.Properties.Settings.SmallERPConnectionString"
            connectionString="Data Source=DESKTOP-CEFGNA7\SQLEXPRESS;Initial Catalog=SmallERP_HuongTrinh;User ID=sa;Password=tv123456789;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERPConnectionString1"
            connectionString="Data Source=DESKTOP-HL1O11A\SQLEXPRESS;Initial Catalog=SmallERP;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERPConnectionString2"
            connectionString="Data Source=DESKTOP-HL1O11A\SQLEXPRESS;Initial Catalog=SmallERP;User ID=sa;Password=tv123456789"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_AnHuyConnectionString"
            connectionString="Data Source=DESKTOP-HL1O11A\SQLEXPRESS;Initial Catalog=SmallERP_AnHuy;User ID=sa;Password=tv123456789"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_SDIVINAConnectionString"
            connectionString="Data Source=DESKTOP-HL1O11A\SQLEXPRESS;Initial Catalog=SmallERP_SDIVINA;User ID=sa;Password=tv123456789"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_SDIVINAConnectionString1"
            connectionString="Data Source=vuhuy.database.windows.net;Initial Catalog=SmallERP_SDIVINA;User ID=abcxyz;Password=tv123456789@179"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_SDIVINAConnectionString2"
            connectionString="Data Source=DESKTOP-CEFGNA7\SQLEXPRESS;Initial Catalog=SmallERP_SDIVINA;User ID=sa;Password=xd123456789"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_SDIVINAConnectionString3"
            connectionString="Data Source=DESKTOP-CEFGNA7\SQLEXPRESS;Initial Catalog=SmallERP_SDIVINA;Persist Security Info=True;User ID=sa;Password=tv123456789"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_HuongTrinhConnectionString"
            connectionString="Data Source=DESKTOP-CEFGNA7\SQLEXPRESS;Initial Catalog=SmallERP_HuongTrinh;User ID=sa;Password=tv123456789"
            providerName="System.Data.SqlClient" />
        <add name="IMS.Properties.Settings.SmallERP_AnHuyConnectionString1"
            connectionString="Data Source=DESKTOP-CEFGNA7\SQLEXPRESS;Initial Catalog=SmallERP_AnHuy;User ID=sa;Password=tv123456789;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <IMS.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="StaffName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserGroupName" serializeAs="String">
                <value />
            </setting>
            <setting name="IdStaff" serializeAs="String">
                <value>0</value>
            </setting>
        </IMS.Properties.Settings>
    </userSettings>
</configuration>
